.documents{
    width: 70%;
    height: 100%;
}

.table-header{
    width: 30%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.documents-tabs{
    width: 100%;
    height: calc(100vh - 200px);
}

.documents-tabs .smart-grid {
    height: calc(100vh - 350px);
}

@media (max-width: 1590px){
    .documents {
        width: 65%;
    }
}

@media (max-width: 1320px){
    .documents {
        width: 55%;
    }
}

@media (max-width: 1050px){
    .documents{
        width: 100%;
    }
}