.documents{
    width: 70%;
    height: 100%;
}

.table-header{
    width: 30%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.documents-tabs{
    width: 100%;
    height: calc(100vh - 300px);
}