.password-wrapper {
	flex: 1;
	position: relative;
	display: flex;
	align-items: center;
}

.toggle-btn {
	position: absolute;
	right: 10px;
	background: transparent;
	border: none;
	color: #007bff;
	font-weight: 600;
	cursor: pointer;
	padding: 4px 6px;
}

.toggle-btn:hover {
	text-decoration: underline;
}

@import "../TextField/style.css";
